@model ProjectDungbeetle.ViewModels.DashboardViewModel

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var model in Model.Entries){
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <div class="card">
            <div class="card-title"> Placeholder Title </div>
        </div>
    </div>
}


<div class="text-center">
    <div class="card">
        <div class="card-header">Code Snippet: </div>
        <div class="card-subtitle">Placeholder Coding Language </div>
        <div class="card-body">Placeholder Snippet</div>
    </div>
</div>
