@model ProjectDungbeetle.ViewModels.DashboardViewModel

@{
    ViewData["Title"] = "Home Page";
}
<h1 class="display-4">Welcome</h1>

@foreach (var entry in Model.Entries){
    <div class="text-center">

        <div class="card">
            <div class="card-title"> @entry.Title </div>
        </div>

    </div>
}

@* @foreach (var model in Model.Entries) { }
<div class="text-center">
    <div class="card">
        <div class="card-header">Code Snippet: </div>
        <div class="card-subtitle">Placeholder Coding Language </div>
        <div class="card-body">Placeholder Snippet</div>
    </div>
</div> *@
